p {
   font-size: 1.5em; 
   padding: 20px 20px 0px 20px;
}

a {
    color: black;
    padding-left: 80px;

    img {
        width: 450px;
        padding-top: 25px;
    }

    p {
        padding-left: 80px;
    }
}