.spacer {
    padding-bottom: 20px;
}

.close-btn, .handle-btn {
    margin-bottom: 20px;
}

.handle-btn {
    cursor: move;
}

.pad-right {
    padding-right: 15px;
}

.drag-handle {
    cursor: move;
}